*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: white;
}
.home{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
span{
    color: red;
}
h2{
    font-size:2.2rem ;
   letter-spacing: 0.12rem;
   cursor: pointer;
}
nav{
    padding-top: 2.8rem;
    padding-left: 8% ;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: red;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 0.87rem;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.2s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid red;
}
.content{
    padding:0 8%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.container.textes{
    position: relative;
    bottom: 80px;
}
h1{
    font-size :4.65rem; ;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing :0.12rem;
    color:rgb(215, 158, 158);
}
.social{
    margin-top: 30px;
    margin-right: 5px;
    
   
}
.social img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.image1 img{
    width: 25rem;
    margin-left: 75px;
}
.image1 img:hover{
    transform: scale(1.2);
    transition: 1s;
   
    
}
.about{
    background-color: rgb(40, 37, 37);
   padding: 80px;
    display: flex;
    align-items: center;
}
.about .image2 img{
    width:120%;
    
    
}
.about img:hover{
    transform: scale(1.2);
    transition: 1s;
}
.text{
    margin-left: 100px;
}
.text h2{
    font-size: 70px;
}
.text p{
    color:rgb(215, 158, 158); 
    font-size: 20px;
}
.text h5{
    font-size: 20px;
}
.text h2,h5{
    margin-bottom: 20px;

}
.service{
    background-color: black;
    padding: 2rem 8%;
    text-align: center;
}
.box p{
    color:black;
    font-size: 18px;
}
.box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color:red;
    border-radius: 20px;
    padding: 1.3rem 2rem;
}
.box h5{
   font-size: 20px;
}
.box img:hover{
    transform: scale(1.2);
    transition: 1s;
}
.box #img3{
    margin-top:50px ;
    margin-left: 20px; 
    width: 260px;
}
.box #img2{
    margin-top: 50px;
}
.copy{
    padding: 2rem 8%;
    background-color: black;
    
}
footer.copy{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
 footer.copy p{
    color:white ;
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
    
footer.copy  .and{
    color: red;
    margin-top: 1rem;
    
}
.copy{
    
    background-color: black;
}
.contact{
    
    padding: 2rem 8%;
    background-color: rgb(40, 37, 37) ;
    
}
.contact h1{
    text-align: center;
}
.contact img{
    width: 50px;
    
}
.contact h5{
    color: red;
    margin-bottom: 0;
}
.contact p{
    margin-bottom: 20px;
}
.contact .card1 .card2 .card3{
    border: 2px solid red;
    width: fit-content;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2 {
   border: 2px solid red;
   border-radius: 5px;
   
   padding: 7px;
}




